*{
	margin: 0;
	padding: 0px;
}
ul{
	margin-top: 20px;
	padding:5px 25px;
}
.article-container {
	box-sizing: border-box;
	list-style: none;
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #ccc;
	zoom: 1;
	padding: 5px;
	position: relative;
}

.article-container:hover {
	cursor: pointer;
	box-shadow: 1px 3px 9px #ccc;
}

.article-img {
	display: inline-block;
	width: 205px;
	height: 145px;
}

.article-content {
	display: inline-block;
	padding-left: 10px;
	position: absolute;
	padding:0 30px;
}

.article-info {
	color: #919898;
	line-height: 33px;
	font-size: 14px;
}

.article-info span {
	vertical-align: top;
}

.article-author a {
	text-decoration: none;
	color: #919898;
}

.article-author .article-author-avatar {
	border-radius: 50%;
	width: 33px;
}

.article-abstract {
	display: block;
	display: -webkit-box;
	max-height: 50px;
	font-size: 14px;
	line-height: 1.2;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.panel{
	padding:0 25px;
	width: 100%;
	box-sizing: border-box;
}
