<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="95后女程序员的个人网站" />
    <meta name="keywords" content="女程序员, 个人网站, 编程, java, Shell, 教学, 脚本, 爬虫 , 娱乐" />
    <meta name="author" content="Wangwenhan" />
    <link rel="shortcut icon" href="/images/icon.ico">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/demoforregister.css" />
    <link rel="stylesheet" href="css/styleforregister.css" />
    <link rel="stylesheet" href="/css/vueindex.css">
    <!-- 先引入 Vue -->
    <script src="/js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="/js/vueindex.js"></script>
  </head>
  
  <body>
    <div class="container" id="con">
      <section class="af-wrapper">
        <h3>注册信息填写</h3>
        <input id="af-showreq" class="af-show-input" type="checkbox" name="showreq" />
        <label for="af-showreq" class="af-show">我只想填必须填的</label>
        <el-form :model="userInformation" :rules="myrules" ref="userInformation" label-width="100px" class="af-form" id="af-form">
		  <div class="af-outer af-required">
            <div class="af-inner">
              <el-form-item label="账户" prop="username" :rules="[
              { required: true, message: '给自己取个名吧'},
              { min: 3, max: 20, message: '长度在 3 到 20 个字符'}
              ]">
                <el-input v-model="userInformation.username" auto-complete="off"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <el-form-item label="密码" prop="pass" :rules="[
              { required: true, message: '密码不能为空'},
              { min: 6, max: 20, message: '密码长度在 6 到 20 个字符'}
              ]">
                <el-input type="password" v-model="userInformation.pass" auto-complete="off"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="userInformation.checkPass" auto-complete="off"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="af-outer">
            <div class="af-inner">
              <el-form-item label="出生日期">
                <el-form-item prop="birth">
                  <el-date-picker type="date" placeholder="选择日期" v-model="userInformation.birth"></el-date-picker>
                </el-form-item>
              </el-form-item>
            </div>
          </div>
          <div class="af-outer">
            <div class="af-inner">
              <el-form-item label="住址" prop="address">
                <el-input v-model="userInformation.address" auto-complete="off"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="af-outer">
            <div class="af-inner">
              <el-form-item label="是否程序媛" prop="address">
                <el-switch on-text="yes" off-text="no" v-model="userInformation.gender"></el-switch>
              </el-form-item>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <el-form-item label="邮箱" prop="email" :rules="[
              { required: true, message: '邮箱不能为空'},
              { type: 'email', message: '邮箱格式不对'}
              ]">
                <el-input v-model="userInformation.email" auto-complete="off"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="af-outer">
            <div class="af-inner">
              <el-form-item label="其他" prop="other" :rules="[
              { max: 30, message: '你太长了，少输入点'}
              ]">
                <el-input v-model="userInformation.other" auto-complete="off" placeholder="其他联系方式等等"></el-input>
              </el-form-item>
            </div>
          </div>
		      <el-button type="warning" @click="visible = true">网站协议</el-button>
				<el-dialog v-model="visible" title="网站协议">
				<p> 本网站是为了记录自己所学的技术和保存一些有用的工具，也希望可以帮助到大家，
					如果能不把买空间和域名的钱都赔了就好了，但是本人技术水平不高，希望起到抛砖
					引玉的作用，也希望能够和大家一起交流技术和其他有趣的东西，有什么错误和不足希望大家指正，
					另外，如果转载以及CV操作，尽量注明出处，谢谢</p>
			  </el-dialog>
          <el-form-item>
            <el-button type="primary" @click="submitForm('userInformation')">提交</el-button>
            <el-button @click="resetForm('userInformation')">重置</el-button></el-form-item>
        </el-form>
      </section>
    </div>
    <script>
	var vm = new Vue({
        el: "#con",
        data() {
          var validatePass = (rule, value, callback) =>{
            if (value === '') {
              callback(new Error('密码都没有？'));
            } else {
              if (this.userInformation.checkPass !== '') {
                this.$refs.userInformation.validateField('checkPass');
              }
              callback();
            }
          };
          var validatePass2 = (rule, value, callback) =>{
            if (value === '') {
              callback(new Error('请再次输入密码'));
            } else if (value !== this.userInformation.pass) {
              callback(new Error('两次密码不一致！手滑了吧'));
            } else {
              callback();
            }
          };
          return {
            visible:false,
			
            userInformation: {
              age: '',
              username: '',
              pass: '',
              checkPass: '',
              birth: '',
              address: '',
              gender: '',
              email: '',
              other: ''
            },

            myrules: {
              pass: [{
                validator: validatePass,
                trigger: 'blur'
              }],
              checkPass: [{
                validator: validatePass2,
                trigger: 'blur'
              }]
            }

          }
        },
        methods: {
          submitForm(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                alert('submit!');
                console.log(this.userInformation);
              } else {
                console.log('error submit!!');
                return false;
              }
            });
          },
          resetForm(formName) {
            this.$refs[formName].resetFields();
          }
        }
      });</script>
	  <script src="js/modernizr.custom.js"></script>
      <script src="js/jquery.js"></script>
  </body>

</html>