<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="logPath">../logs/demo</Property>
		<Property name="filename">demo</Property>
	</Properties>

	<Appenders>
		<Console name="Console">
			<MarkerFilter marker="TRACE" onMatch="DENY" onMismatch="ACCEPT" />
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %logger{36} - %msg%n
				</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="RollingFile" filename="${logPath}/${filename}.log"
			filepattern="${logPath}/${filename}-%d{yyyyMMdd}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="ErrorRollingFile" filename="${logPath}/${filename}.ERROR.log"
			filepattern="${logPath}/${filename}-%d{yyyyMMdd}.ERROR.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
			<Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info" includeLocation="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="ErrorRollingFile" />
		</Root>
	</Loggers>
</Configuration>